{% extends 'base.html' %}

{% block head_title %}
Tweets Home Page
{% endblock head_title %}

{% block content %}

<div id='tweets'>
    Loading...
</div>

<script>

    const tweetsElement = document.getElementById("tweets")
    tweetsElement.innerHTML = "Loading..."
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        var listedItems = xhr.response.response
        var finalTweetStr = ""
        var i = 0;
        for (i = 0; i < listedItems.length; i++) {
            finalTweetStr += '<h1>' + listedItems[i].content + '</h1>'
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>

{% endblock content %}